h1{
  font-family: 'Staatliches', cursive;
  font-size: 40px;
  color: blue;
  background-image: url("https://www.istockphoto.com/photo/brown-wood-texture-dark-wooden-abstract-background-gm1137996207-303653020");
}

h2{
  font-family: 'Permanent Marker', cursive;
}

.list {
  font-family: Palatino, 'Palatino Linotype', serif;
  color: grey;
}

img {
  width:100px; length: 100px; height: 100px;
}

.image1 {
  image-orientation:
}

.image2 {
  image-orientation: right;
}

.image3 {
  image-orientation: left;
}
