h1{
  font-family: 'Staatliches', cursive;
  font-size: 80px;
  color: blue;
  text-align: center;
}

h2{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 40px;
}

body {
  background-image: url('https://images.pexels.com/photos/139306/pexels-photo-139306.jpeg?cs=srgb&dl=pexels-fwstudio-139306.jpg&fm=jpg');
}

ul {
  font-family: Palatino, 'Palatino Linotype', serif;
  color: white;
  font-size: 25px;
  padding-left: 0;
  text-align: center;
  list-style-position: inside;
  margin: 0 auto;
}

img {
  width:400px; length: 400px; height: 400px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image1 {
  position: relative;
}

.image2 {
  position: relative;
}

.image3 {
  position: relative;
}
