h1{
  font-family: 'Staatliches', cursive;
  font-size: 40px;
  color: blue;
  background-image: "Wood-Background.jpg"
}

h2{
  font-family: 'Permanent Marker', cursive;
}

#list {
  font-family: Palatino, 'Palatino Linotype', serif;
  color: red;
}
