.jumbotron {
  background-image: url("banner.jpeg");
  width: 100%;
}

.jumbotron h1 {
  text-align: center;
  color: white;
  font-family: 'Anton', sans-serif;
}

.row {
  padding: 10px;
}

h2 {
  text-align: center;
  margin: 20px;
  color: white;
  font-size: 40px;
}

h3 {
  color: white;
  font-family: 'Bangers', cursive;
  font-size: 30px;
  padding: 50px;
}

h4 {
  color: white;
  font-size: 20px;
}

#Emoji1 {
  position: absolute;
  top: 0px;
  left: 0px;
}

#Emoji2 {
  position: absolute;
  top: 0px;
  right: 0px;
}

#jokeFact1, #jokeFact2 {
  cursor: pointer;
  padding: 8px 18px;
  border: 3px solid black;
  position: relative;
  font-size: 20px;
  color: yellow;
  background-color: orange;
}

.container {
  padding: 18px;
  position: relative;
  text-align: center;
}

.col-sm-6 {
  font-family: 'Teko', sans-serif;
}

.button {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.image1 {
  position: relative;
  right: 350px;
}

.image2 {
  position: relative;
  left: 50px;
}

#Joke1, #Joke2 {
  font-family: 'Klee One', cursive;
}

#Joke1 {
  position: absolute;
  top: 275px;
  left: 200px;
  width: 100%;
}

#Joke2 {
  position: absolute;
  top: 275px;
  left: 175px;
  width: 100%;
}

body {
  background-image: url("A_black_background.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 40px;
}
